body > section {
    width: 100%;
    overflow-y: auto;
    gap: 3vh;
    display: none;
    align-items: center;
    main {
       max-width: 1000px;
       display: flex;
       flex-direction: column;
       gap: 1vh; 
       text-align: justify;
       em {
        color: blueviolet;
        font-style: normal;
        font-weight: 600;
       }
    }
}
